/*CHECK*/
#check .container{
    padding-top: 2rem;
    height: auto;
}

#check .title{
    font-size: 40px;
}

/*CHOOSE 1*/
#choose{
    padding-top: 2rem;
    padding-bottom: 3rem;
    height: auto;
}

#choose .title{
    font-size: 60px;
}

#choose .container-card .primo{
    text-align: center;
}

#choose .container-card .primo img{
    max-width: 50%;
}

#choose .container-card .secondo{
    padding-top: 3rem;
    text-align: center;
}

#choose .container-card .secondo img{
    max-width: 50%;
}

#choose h1{
    font-size: 20px; 
}