*{
    padding:0;
    margin:0;
}

/*CHECK*/
#check{
    background: radial-gradient(42.23% 47.88% at 50% 50.04%, #5B064C 0%, #23014A 100%);
    height: 100vh;
    padding-top: 15rem;
}

#check .container{
  text-align: center;
}

#check .title{
    font-family: 'Russo One', sans-serif;
    color: white;
    font-size: 50px;
    text-align: center;
}


/*CHOOSE*/
#choose{
    background: radial-gradient(42.23% 47.88% at 50% 50.04%, #5B064C 0%, #23014A 100%);
    height: 100vh;
    padding-top: 8rem;
    padding-bottom: 7.1rem;
}

#choose .title{
    font-family: 'Russo One', sans-serif;
    color: white;
    font-size: 50px;
    text-align: center;
}

#choose .container-card{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 3rem;
}

#choose .container-card .primo{
    transition: ease-in-out 0.3s;
    flex-direction: column;
    padding-bottom: 2rem;
}

#choose .container-card .primo a{
   display: flex;
   justify-content: center;
}


#choose .container-card .primo:hover{
    transform: scale(1.1);
    transition: ease-in-out 0.3s;
}

#choose .container-card .secondo{
    transition: ease-in 0.3s;
    flex-direction: column;
    padding-bottom: 2rem;
}

#choose .container-card .secondo a{
    display: flex;
    justify-content: center;
}

#choose .container-card .secondo:hover{
    transform: scale(1.1);
    transition: ease-in 0.3s;
}

#choose h1{
    font-family: 'Russo One', sans-serif;
    color: white;
    font-size: 30px;
    text-align: center;
    padding-top: 1rem;
    
}